@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

header {
  background-color: #fff;
}

header nav .container-fluid .navbar-brand {
  padding: 12px 0;
  margin: 0;
}
header nav .container-fluid .navbar-brand img {
  width: 122px;
  height: 28px;
}
header nav .container-fluid .navbar-collapse {
  flex-grow: 0;
}
header nav .container-fluid .navbar-collapse .navbar-nav {
  align-items: center;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin-right: 32px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item:last-of-type {
  margin-right: 40px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #394149;
  padding: 22px 0px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-btn {
  background-color: rgba(245, 138, 7, 0.1019607843);
  border: none;
  border-radius: 31px;
  padding: 0;
  margin: 0;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-btn a {
  color: #f58a07;
  padding: 18px 32px;
  font-size: 16px;
  line-height: 106.5%;
  font-weight: 600;
}

#hero-area .hero-banner {
  display: flex;
}
#hero-area .hero-banner .banner-details {
  flex: 0 0 50%;
}
#hero-area .hero-banner .banner-image {
  flex: 0 0 50%;
}

#blog-widget .blog-widget-card-row {
  display: flex;
  flex-wrap: wrap;
}
#blog-widget .blog-widget-card-row .blog-widget-card {
  flex: 0 0 33.3333%;
}

@media only screen and (max-width: 767px) {
  #blog-widget .blog-widget-card-row .blog-widget-card {
    flex: 0 0 100%;
  }
}
/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeInAll {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px;
  }
}