@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

a.arrow-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  color: #f58a07;
}
a.arrow-btn img {
  margin-left: 9px;
}

header {
  background-color: #fff;
}

header nav .container-fluid .navbar-brand {
  padding: 12px 0;
  margin: 0;
}
header nav .container-fluid .navbar-brand img {
  width: 122px;
  height: 28px;
}
header nav .container-fluid .navbar-collapse {
  flex-grow: 0;
}
header nav .container-fluid .navbar-collapse .navbar-nav {
  align-items: center;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin-right: 32px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item:last-of-type {
  margin-right: 40px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #394149;
  padding: 22px 0px;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-btn {
  background-color: rgba(245, 138, 7, 0.1019607843);
  border: none;
  border-radius: 31px;
  padding: 0;
  margin: 0;
}
header nav .container-fluid .navbar-collapse .navbar-nav .nav-btn a {
  color: #f58a07;
  padding: 18px 32px;
  font-size: 16px;
  line-height: 106.5%;
  font-weight: 600;
}

#hero-area {
  background-color: #dceaf5;
}
#hero-area .hero-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 40px;
  align-items: end;
}
#hero-area .hero-banner .banner-details {
  padding: 117px 0 147px 0;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1px;
  color: #1d3444;
  margin-bottom: 12px;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 32px;
  color: #5b5b5b;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper .banner-btn-area {
  display: flex;
  gap: 40px;
  margin-bottom: 56px;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper .banner-btn-area a.banner-btn {
  cursor: pointer;
  padding: 18px 32px;
  text-decoration: none;
  color: #1d3444;
  font-size: 16px;
  line-height: 106.5%;
  font-weight: 500;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper .banner-btn-area a.banner-btn.btn-bg {
  background-color: #f58a07;
  color: #fff;
  border-radius: 27px;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper .banner-promo {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(57, 65, 73, 0.5137254902);
  margin-bottom: 18px;
}
#hero-area .hero-banner .banner-details .banner-details-wrapper .banner-branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 45px;
}
#hero-area .hero-banner .banner-image {
  align-content: end;
}

@media only screen and (max-width: 1720px) {
  #hero-area .hero-banner .banner-details {
    padding: 117px 0 117px 0;
  }
  #hero-area .hero-banner .banner-image img {
    width: 100%;
  }
}
#blog-widget {
  padding: 96px 0;
}
#blog-widget .blog-widget-head {
  max-width: 735px;
  margin-bottom: 64px;
}
#blog-widget .blog-widget-head h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1px;
  color: #1d3444;
  margin-bottom: 27px;
}
#blog-widget .blog-widget-head p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
}
#blog-widget .blog-widget-card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
  gap: 40px;
}
#blog-widget .blog-widget-card-row .blog-widget-card .blog-widget-card-img {
  border-radius: 20px;
  margin-bottom: 33px;
  max-width: 400px;
}
#blog-widget .blog-widget-card-row .blog-widget-card .blog-widget-card-img img {
  width: 100%;
}
#blog-widget .blog-widget-card-row .blog-widget-card .blog-widget-card-details h4 {
  font-size: 24px;
  line-height: 106.5%;
  font-weight: 500;
  color: #0d1317;
  margin: 0;
  margin-bottom: 17px;
}
#blog-widget .blog-widget-card-row .blog-widget-card .blog-widget-card-details p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #5b5b5b;
  margin-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  #blog-widget .blog-widget-card-row .blog-widget-card {
    flex: 0 0 100%;
  }
}
#soft-solution-area {
  background-color: #edf7ff;
  padding: 96px 0;
}
#soft-solution-area .soft-solution-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 64px;
}
#soft-solution-area .soft-solution-heading h2 {
  flex: 0 0 calc(50% - 20px);
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #0d1317;
  margin: 0;
}
#soft-solution-area .soft-solution-heading P {
  flex: 0 0 calc(50% - 20px);
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #1d3444;
  margin: 0;
}
#soft-solution-area .soft-solution-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 40px;
}
#soft-solution-area .soft-solution-services .soft-solution-card {
  border-radius: 20px;
  background-color: #fff;
  padding: 40px 26px 37px 39px;
}
#soft-solution-area .soft-solution-services .soft-solution-card img {
  margin-bottom: 32px;
}
#soft-solution-area .soft-solution-services .soft-solution-card h5 {
  margin-bottom: 16px;
  color: #0d1317;
  font-size: 24px;
  font-weight: 600;
  line-height: 106.5%;
}
#soft-solution-area .soft-solution-services .soft-solution-card p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #5b5b5b;
}

@media only screen and (max-width: 1199px) {
  #soft-solution-area .soft-solution-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  #soft-solution-area .soft-solution-services {
    grid-template-columns: repeat(1, 1fr);
  }
}
#awards-wizget {
  padding: 99px 0 96px 0;
}
#awards-wizget .awards-wizget-warrper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 70px;
  align-items: center;
}
#awards-wizget .awards-wizget-warrper .awards-description h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #0d1317;
  margin-bottom: 32px;
}
#awards-wizget .awards-wizget-warrper .awards-description p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 48px;
  color: #5b5b5b;
  max-width: 510px;
  text-align: left;
}
#awards-wizget .awards-wizget-warrper .awards-description .awards-spc {
  display: flex;
}
#awards-wizget .awards-wizget-warrper .awards-description .awards-spc .awards-spc-card {
  flex: 0 0 50%;
}
#awards-wizget .awards-wizget-warrper .awards-description .awards-spc .awards-spc-card h4.highlight {
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  color: #f58a07;
  margin-bottom: 16px;
}
#awards-wizget .awards-wizget-warrper .awards-description .awards-spc .awards-spc-card h6 {
  font-size: 24px;
  line-height: 106.5%;
  letter-spacing: -1px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0d1317;
}
#awards-wizget .awards-wizget-warrper .awards-description .awards-spc .awards-spc-card span {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #5b5b5b;
  text-align: left;
}
#awards-wizget .awards-wizget-warrper .awards-certificate {
  position: relative;
}
#awards-wizget .awards-wizget-warrper .awards-certificate img {
  width: 100%;
}
#awards-wizget .awards-wizget-warrper .awards-certificate .awards-batch {
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
  width: 116px;
  height: 113px;
  margin-right: -58px;
  margin-top: -56px;
}

.services-area {
  padding: 0 0 128px 0;
}
.services-area .services-section-wrapper {
  background-color: #edf7ff;
  position: relative;
  padding: 48px;
  border-radius: 20px;
}
.services-area .services-section-wrapper .services-batch {
  position: absolute;
  right: -15px;
  top: -16px;
}
.services-area .services-section-wrapper .services-tab-area {
  padding-bottom: 80px;
  display: flex;
  gap: 24px;
}
.services-area .services-section-wrapper .services-tab-area .service-tab-btn {
  padding: 8px 24px;
  font-size: 16px;
  line-height: auto;
  font-weight: 600;
  border-radius: 31px;
  color: #a8bccc;
  border: 1px solid #a8bccc;
}
.services-area .services-section-wrapper .services-tab-area .service-tab-btn.active {
  color: #f58a07;
  background-color: #fff;
  border-color: #fff;
}
.services-area .services-section-wrapper .services-content-area .service-single-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 140px;
}
.services-area .services-section-wrapper .services-content-area .service-single-content .service-single-content-details h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;
  font-weight: 600;
  color: #0d1317;
  margin-bottom: 25px;
}
.services-area .services-section-wrapper .services-content-area .service-single-content .service-single-content-details p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #5b5b5b;
  margin-bottom: 40px;
}
.services-area .services-section-wrapper .services-content-area .service-single-content .service-single-content-imge {
  position: relative;
  max-width: 470px;
  border-radius: 10px;
}
.services-area .services-section-wrapper .services-content-area .service-single-content .service-single-content-imge .service-image-overlay {
  border-radius: 11px;
  position: absolute;
  background-color: #f58a07;
  width: 120px;
  height: 100%;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}
.services-area .services-section-wrapper .services-content-area .service-single-content .service-single-content-imge img {
  width: 100%;
}

.home-cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.home-cta .cta-banner img {
  width: 100%;
}
.home-cta .cta-description {
  background-color: #f58a07;
  width: 100%;
  height: 100%;
  padding-left: 128px;
  align-content: center;
}
.home-cta .cta-description h2 {
  max-width: 532px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  margin-bottom: 40px;
}
.home-cta .cta-description a.cta-action-btn {
  font-size: 16px;
  font-weight: 600;
  list-style: 106.5%;
  padding: 18px 32px;
  color: #f58a07;
  background-color: #fff;
  border-radius: 31px;
  text-decoration: none;
}

.home-video-area {
  padding: 128px 0px;
}
.home-video-area .wapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 110px;
  align-items: center;
}
.home-video-area .wapper .video-description h4 {
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.home-video-area .wapper .video-description p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #5b5b5b;
  margin-bottom: 40px;
}
.home-video-area .wapper .video-description .video-author {
  display: flex;
  gap: 24px;
  align-items: center;
}
.home-video-area .wapper .video-description .video-author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.home-video-area .wapper .video-description .video-author .video-author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-video-area .wapper .video-description .video-author .video-author-details span {
  font-weight: 500;
  line-height: 171%;
}
.home-video-area .wapper .video-description .video-author .video-author-details span.author-name {
  font-size: 24px;
  color: #063255;
}
.home-video-area .wapper .video-description .video-author .video-author-details span.author-pos {
  font-size: 18px;
  color: #f58a07;
}
.home-video-area .wapper .video-player {
  border-right: 20px;
  width: 100%;
  position: relative;
}
.home-video-area .wapper .video-player video {
  border-right: 20px;
  min-height: 500px;
}
.home-video-area .wapper .video-player .video-contolar {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}
.home-video-area .wapper .video-player .video-contolar img {
  margin-right: 16px;
}

/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeInAll {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px;
  }
}